@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<body style="color:black;">
    <hgroup>
        <h2>An error occurred while processing your request.</h2>
        <br />
        <h3 style="color:red"><b>@ViewBag.ErrorMsg</b></h3>
    </hgroup>
</body>
