@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Testimonials header -->
<section class="row" id="tmServices">
    <div class="col-12">
        <div class="parallax-window tm-services-parallax-header tm-testimonials-parallax-header"
             data-parallax="scroll"
             data-z-index="101"
             data-image-src="../../Content/images/people.jpg">

            <div class="tm-bg-black-transparent text-center tm-services-header tm-testimonials-header">
                <h2 class="text-uppercase tm-services-page-title tm-testimonials-page-title">Contact</h2>
                <p class="tm-services-description mb-0 small">
                    For any additional information, please contact us.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="row tm-contact-row">
    <div class="col-lg-6 tm-contact-col-left">
        <form action="mailto:gamenepalltd@gmail.com" method="get" id="tmContactForm" class="tm-bg-black-transparent tm-contact-form">
            <div class="form-group">
                <input type="text" id="contact_name" name="contact_name" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Name" required="required">
            </div>
            <div class="form-group">
                <input type="email" id="contact_email" name="contact_email" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <textarea rows="6" id="contact_message" name="contact_message" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Message" required="required"></textarea>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary tm-btn-submit rounded-1">
                    Submit
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-6 tm-contact-col-right">
        <div class="tm-bg-black-transparent tm-contact-text">
            <i class="mx-auto mb-5 fas fa-3x fa-address-card tm-app-feature-icon"></i>
            <h3 class="tm-service-tab-title" style="text-align:center">For any support, please contact us below:</h3>
            <p class="tm-service-tab-p center">
                    GameNepal Ltd. <br />
                    Harisiddhi, Lalitpur<br />
                    Nepal<br />
                    <b>Phone:</b> 9849123963
            </p>
            <p class="mb-0 center">
                    <strong>Support:</strong>   <a href="mailto:gamenepalltd@gmail.com">gamenepalltd@gmail.com</a><br />
            </p>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="row tm-testimonials-cta" id="tmCallToAction">
    <div class="col-12 tm-call-to-action-col">
        <div class="tm-bg-white tm-call-to-action-text">
            <h2 class="tm-call-to-action-title">We are located here to serve you</h2>
            <div class="innerMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7069.268469218594!2d85.34226891073402!3d27.635842647273574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1722b65dc81d%3A0x5b0e5fc7bfe4c691!2sRegmi%20store!5e0!3m2!1sen!2sus!4v1576970163792!5m2!1sen!2sus" width="1190" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            </div>
    </div>
</section>


