@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @class = "form-signin" }))
{
    <div class="row">
        <p class="resetLabel">
            We will send you the password reset link <br />in the email below.
        </p>
        <div class="form-label-group">
            @Html.TextBox("txtUserName", "", new { @id = "inputEmail", @class = "form-control", placeholder = "Enter email address", type = "email", required = "required" })
            @Html.Label("inputEmail", "Enter email address")
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <br />
        @Html.ActionLink("<< Back to Login", "Login", "Home")
    </div>
}