@model GameNepal.Models.PasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "form-signin" }))
{
    <div class="row">
        <p class="resetLabel"> Change Password </p>

        <div class="form-label-group">
            @Html.PasswordFor(x => x.NewPassword, new { @id = "newPwd", required = "required", @class = "form-control", @placeholder = "Enter new password" })
            @Html.Label("newPwd", "New Password")
        </div>

        <div class="form-label-group">
            @Html.Password("pwdReEntered", null, new { @id = "pwdReEntered", required = "required", @class = "form-control", @placeholder = "Re-enter new Password" })
            @Html.Label("pwdReEntered", "Re-enter Password")
        </div>

        <button class="btn btn-lg btn-danger" type="reset">Clear</button>
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </div>
}